Repository nghttp2/nghttp2, pull requests merged in 2019-10, with the labels that each got.

#1405 Faster Huffman encoding/decoding
  lib/nghttp2_hd_huffman.c
  lib/nghttp2_hd_huffman.h
  lib/nghttp2_hd_huffman_data.c
  mkhufftbl.py
  tests/main.c
  tests/nghttp2_hd_test.c
  tests/nghttp2_hd_test.h
Labels: enhancement, lib

#1411 priority_spec::valid(): remove const qualifier from return value
  src/asio_client_session.cc
  src/includes/nghttp2/asio_http2_client.h
Labels: asio

#1409 Fix the bug that stream is closed with wrong error code
  lib/nghttp2_session.c
  tests/nghttp2_session_test.c
Labels: bug, lib
