Repository nghttp2/nghttp2, pull requests merged in 2023-12, with the labels that each got.

#2011 cmake: bring back ENABLE_STATIC_CRT
  CMakeLists.txt
Labels: build/cmake, area/build

#2012 Avoid detecting OpenSSL 3.2 as quictls
  CMakeLists.txt
  configure.ac
Labels: build/cmake, area/quic, area/build, build/autotools

#2013 src: Support building with aws-lc
  examples/client.c
  examples/libevent-client.c
  examples/libevent-server.c
  src/h2load.cc
  src/nghttp.cc
  src/shrpx.cc
  src/shrpx_connection.cc
  src/shrpx_connection_handler.cc
  src/shrpx_http3_upstream.cc
  src/shrpx_quic_connection_handler.cc
  src/shrpx_tls.cc
  src/ssl_compat.h
  src/tls.cc
  src/tls.h
Labels: area/app

#2016 boringssl has SSL_CTX_set1_groups_list
  src/h2load.cc
Labels: app/h2load, area/app

#2017 Drop old OpenSSL support
  README.rst
  configure.ac
  src/HttpServer.cc
  src/h2load.cc
  src/nghttp.cc
  src/nghttpd.cc
  src/shrpx-unittest.cc
  src/shrpx.cc
  src/shrpx_config.cc
  src/shrpx_connection.cc
  src/shrpx_http2_downstream_connection.cc
  src/shrpx_http_downstream_connection.cc
  src/shrpx_quic_connection_handler.cc
  src/shrpx_tls.cc
  src/ssl_compat.h
  src/tls.cc
  src/tls.h
  src/util.cc
Labels: area/app

#2019 Drop old OpenSSL support part 2
  doc/sources/tutorial-client.rst
  doc/sources/tutorial-server.rst
  examples/client.c
  examples/libevent-client.c
  examples/libevent-server.c
  src/HttpServer.cc
  src/h2load.cc
  src/nghttp.cc
  src/shrpx_client_handler.cc
  src/shrpx_connection.cc
  src/shrpx_http2_session.cc
  src/shrpx_live_check.cc
  src/shrpx_tls.cc
Labels: area/app

#2020 Remove NPN
  README.rst
  doc/Makefile.am
  doc/sources/h2load-howto.rst
  doc/sources/nghttpx-howto.rst
  doc/sources/tutorial-client.rst
  doc/sources/tutorial-server.rst
  examples/client.c
  examples/libevent-client.c
  examples/libevent-server.c
  gennghttpxfun.py
  lib/CMakeLists.txt
  lib/Makefile.am
  lib/Makefile.msvc
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_alpn.c
  lib/nghttp2_alpn.h
  src/HttpServer.cc
  src/HttpServer.h
  src/h2load.cc
  src/h2load.h
  src/h2load_quic.cc
  src/nghttp.cc
  src/shrpx.cc
  src/shrpx_client_handler.cc
  src/shrpx_config.cc
  src/shrpx_config.h
  src/shrpx_connection.cc
  src/shrpx_connection_handler.cc
  src/shrpx_http2_session.cc
  src/shrpx_live_check.cc
  src/shrpx_tls.cc
  src/shrpx_tls.h
  tests/CMakeLists.txt
  tests/Makefile.am
  tests/main.c
  tests/nghttp2_alpn_test.c
  tests/nghttp2_alpn_test.h
Labels: area/lib, app/nghttpx, app/h2load, area/app

#2022 cmake: Require OpenSSL >= 1.1.1
  CMakeLists.txt
Labels: build/cmake, area/build

#2023 nghttpx: OpenSSL needs SSL_CTX_set_recv_max_early_data
  src/shrpx_tls.cc
Labels: app/nghttpx, area/app

#2024 App fix
  src/HttpServer.cc
  src/h2load.cc
Labels: app/h2load, app/nghttpd, area/app

#2025 nghttpx: Remove a trailing whitespace
  src/shrpx_worker.cc
Labels: app/nghttpx, area/app

#2026 H2load header ttfb fix
  src/h2load_http2_session.cc
  src/h2load_http3_session.cc
  src/h2load_http3_session.h
Labels: app/h2load, area/app
