Repository nghttp2/nghttp2, pull requests merged in 2024-06, with the labels that each got.

#2203 Fix compiler versions in readme
  README.rst
Labels: area/documentation

#2207 Bump ngtcp2 and its dependencies
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
Labels: area/quic, area/github, dep/ngtcp2

#2209 Add wolfSSL support
  .github/workflows/build.yml
  CMakeLists.txt
  CMakeOptions.txt
  Makefile.am
  README.rst
  cmake/FindLibngtcp2_crypto_wolfssl.cmake
  cmake/FindWolfSSL.cmake
  cmakeconfig.h.in
  configure.ac
  src/CMakeLists.txt
  src/HttpServer.cc
  src/HttpServer.h
  src/Makefile.am
  src/h2load.cc
  src/h2load.h
  src/h2load_quic.cc
  src/nghttp.cc
  src/nghttp.h
  src/nghttpd.cc
  src/shrpx.cc
  src/shrpx_client_handler.h
  src/shrpx_config.cc
  src/shrpx_config.h
  src/shrpx_connection.cc
  src/shrpx_connection.h
  src/shrpx_connection_handler.h
  src/shrpx_exec.cc
  src/shrpx_http2_downstream_connection.cc
  src/shrpx_http2_downstream_connection.h
  src/shrpx_http2_session.cc
  src/shrpx_http2_session.h
  src/shrpx_http_downstream_connection.cc
  src/shrpx_live_check.h
  src/shrpx_memcached_dispatcher.h
  src/shrpx_quic.cc
  src/shrpx_quic.h
  src/shrpx_quic_connection_handler.cc
  src/shrpx_rate_limit.h
  src/shrpx_tls.cc
  src/shrpx_tls.h
  src/shrpx_tls_test.cc
  src/shrpx_worker.cc
  src/shrpx_worker.h
  src/shrpx_worker_process.cc
  src/ssl_compat.h
  src/tls.cc
  src/tls.h
  src/util.cc
Labels: area/app

#2210 Append --shallow-submodules to git clone --recursive
  .github/workflows/build.yml
  docker/Dockerfile
Labels: area/github

#2211 Always append options to extra options
  .github/workflows/build.yml
Labels: area/github

#2216 Fix UDP_GRO struct cmsghdr data type
  src/h2load_quic.cc
  src/shrpx_quic_listener.cc
  src/util.cc
Labels: app/nghttpx, app/h2load, area/quic, area/app

#2217 GHA: Suppress warnings
  .github/workflows/build.yml
Labels: area/github

#2218 Fix levenshtein initialization
  src/util.cc
Labels: area/app
