Repository nghttp2/nghttp2, pull requests merged in 2024-03, with the labels that each got.

#2087 nghttpx: Shutdown h3 stream read with trailer as well
  src/shrpx_http3_upstream.cc
Labels: app/nghttpx, area/quic, area/app

#2093 Checkout with submodules
  .github/workflows/build.yml
  docker/Dockerfile
Labels: area/github

#2092 Respect BUILD_STATIC_LIBS and add option for tests
  .github/workflows/build.yml
  CMakeLists.txt
  CMakeOptions.txt
  lib/CMakeLists.txt
Labels: build/cmake, area/github, area/build

#2098 Workaround llvm issue on github ubuntu runner
  .github/workflows/build.yml
  .github/workflows/fuzz.yml
Labels: area/github

#2100 Nghttpx header idle timeout
  gennghttpxfun.py
  src/shrpx.cc
  src/shrpx_client_handler.cc
  src/shrpx_config.cc
  src/shrpx_config.h
  src/shrpx_downstream.cc
  src/shrpx_downstream.h
  src/shrpx_http2_upstream.cc
  src/shrpx_http3_upstream.cc
  src/shrpx_https_upstream.cc
Labels: app/nghttpx, area/app

#2101 nghttpx: Fix frontend-header-timeout does not work in config file
  src/shrpx_config.cc
Labels: app/nghttpx, area/app

#2102 Rewrite hexdump
  src/util.cc
  src/util.h
Labels: area/app

#2105 Bump ngtcp2
  .github/workflows/build.yml
  README.rst
  configure.ac
  docker/Dockerfile
Labels: area/quic, dep/ngtcp2, dep/openssl

#2108 autotools: Use tar-ustar automake option
  configure.ac
Labels: area/build, build/autotools

#2109 Automate release process
  .github/workflows/build.yml
  makerelease.sh
Labels: area/github

#2110 autotools: Switch to tar-pax
  configure.ac
Labels: area/build, build/autotools

#2111 nghttpx: Drop a UDP datagram from well-known port
  src/shrpx_quic_listener.cc
  src/util.cc
  src/util.h
Labels: app/nghttpx, area/quic

#2112 nghttpx: Fix port byte order
  src/util.cc
Labels: app/nghttpx, area/quic, area/app

#2114 nghttpx: Rework QUIC stateless reset packet size
  src/shrpx_quic_connection_handler.cc
  src/shrpx_quic_connection_handler.h
  src/shrpx_quic_listener.cc
Labels: app/nghttpx, area/quic, area/app

#2115 nghttpx: More QUIC prohibited ports
  src/shrpx_quic_listener.cc
  src/util.cc
  src/util.h
Labels: app/nghttpx, area/quic, area/app

#2116 Add actions/stale
  .github/workflows/stale.yaml
Labels: area/github

#2117 nghttpx: Discard UDP datagram that is too short to be a valid QUIC packet
  src/shrpx_quic_listener.cc
Labels: app/nghttpx, area/quic, area/app

#2119 nghttp: Support SSLKEYLOGFILE
  src/h2load.cc
  src/nghttp.cc
  src/tls.cc
  src/tls.h
Labels: app/nghttp, area/app

#2120 No rfc7540 priority fix
  lib/nghttp2_session.c
  tests/nghttp2_session_test.c
Labels: area/lib

#2122 Further reduce Stateless reset emission
  src/shrpx_quic_connection_handler.cc
  src/shrpx_quic_listener.cc
Labels: app/nghttpx, area/quic, area/app

#2124 nghttpx: Rework Connection ID construction
  bpf/reuseport_kern.c
  doc/sources/nghttpx-howto.rst
  src/shrpx.cc
  src/shrpx_config.cc
  src/shrpx_config.h
  src/shrpx_connection_handler.cc
  src/shrpx_connection_handler.h
  src/shrpx_http3_upstream.cc
  src/shrpx_quic.cc
  src/shrpx_quic.h
  src/shrpx_quic_connection_handler.cc
  src/shrpx_worker.cc
  src/shrpx_worker.h
  src/shrpx_worker_process.cc
  src/shrpx_worker_process.h
Labels: app/nghttpx, area/quic, area/app

#2125 Nghttpx faster worker lookup
  src/shrpx.cc
  src/shrpx_connection_handler.cc
  src/shrpx_connection_handler.h
  src/shrpx_quic.h
Labels: app/nghttpx, area/quic, area/app

#2126 nghttpx: Split thread into worker_process and thread
  src/shrpx.cc
  src/shrpx_config.cc
  src/shrpx_connection_handler.cc
  src/shrpx_connection_handler.h
  src/shrpx_quic.h
  src/shrpx_worker.cc
  src/shrpx_worker.h
Labels: app/nghttpx, area/quic, area/app

#2127 bpf: Drop bad QUIC packet
  bpf/reuseport_kern.c
Labels: app/nghttpx, area/quic, area/app

#2129 nghttpx: Allocate 3 bits for QUIC configuration in Connection ID
  doc/sources/nghttpx-howto.rst
  src/shrpx.cc
  src/shrpx_config.cc
  src/shrpx_quic.cc
  src/shrpx_quic.h
Labels: app/nghttpx, area/quic, area/app
