Repository nghttp2/nghttp2, pull requests merged in 2024-02, with the labels that each got.

#2051 Fixing the build and install trees
  .gitignore
  CMakeLists.txt
  CMakeOptions.txt
  lib/CMakeLists.txt
  src/CMakeLists.txt
Labels: build/cmake, area/build

#2055 nghttpx: Set ocsp response to SSL in case of boringssl
  src/shrpx_connection_handler.cc
  src/shrpx_tls.cc
Labels: app/nghttpx

#2056 src: Certificate Compression with boringssl
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile.am
  README.rst
  cmake/FindLibbrotlidec.cmake
  cmake/FindLibbrotlienc.cmake
  configure.ac
  src/CMakeLists.txt
  src/HttpServer.cc
  src/Makefile.am
  src/h2load.cc
  src/nghttp.cc
  src/shrpx_tls.cc
  src/tls.cc
  src/tls.h
Labels: app/nghttpx, app/nghttp, app/h2load, app/nghttpd, area/app

#2057 Fix missing newline
  lib/CMakeLists.txt
Labels: build/cmake, area/build

#2060 Deprecate RFC 7540 priorities (aka stream dependencies)
  lib/includes/nghttp2/nghttp2.h
Labels: area/lib

#2061 Let dependabot manage go modules
  .github/dependabot.yml
Labels: area/github

#2065 integration-tests: Omit unused parameters
  integration-tests/nghttpx_http1_test.go
  integration-tests/nghttpx_http2_test.go
  integration-tests/nghttpx_http3_test.go
Labels: area/integration-test

#2066 Introduce nghttp2_ssize API
  README.rst
  doc/Makefile.am
  doc/README.rst
  doc/programmers-guide.rst
  doc/sources/tutorial-client.rst
  doc/sources/tutorial-hpack.rst
  doc/sources/tutorial-server.rst
  examples/client.c
  examples/deflate.c
  examples/libevent-client.c
  examples/libevent-server.c
  fuzz/fuzz_target.cc
  fuzz/fuzz_target_fdp.cc
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_buf.c
  lib/nghttp2_buf.h
  lib/nghttp2_callbacks.c
  lib/nghttp2_callbacks.h
  lib/nghttp2_hd.c
  lib/nghttp2_hd.h
  lib/nghttp2_hd_huffman.c
  lib/nghttp2_outbound_item.c
  lib/nghttp2_outbound_item.h
  lib/nghttp2_session.c
  lib/nghttp2_submit.c
  lib/nghttp2_submit.h
  tests/failmalloc_test.c
  tests/nghttp2_buf_test.c
  tests/nghttp2_frame_test.c
  tests/nghttp2_hd_test.c
  tests/nghttp2_session_test.c
  tests/nghttp2_test_helper.c
  tests/nghttp2_test_helper.h
Labels: area/documentation, area/lib

#2067 Move deprecated warning upfront
  lib/includes/nghttp2/nghttp2.h
Labels: area/documentation

#2069 Apps migrate nghttp2 ssize
  src/HttpServer.cc
  src/HttpServer.h
  src/deflatehd.cc
  src/h2load.h
  src/h2load_http2_session.cc
  src/inflatehd.cc
  src/nghttp.cc
  src/nghttp.h
  src/shrpx.h
  src/shrpx_http.cc
  src/shrpx_http.h
  src/shrpx_http2_downstream_connection.cc
  src/shrpx_http2_session.cc
  src/shrpx_http2_session.h
  src/shrpx_http2_upstream.cc
  src/shrpx_live_check.cc
Labels: app/nghttpx, app/nghttp, app/h2load, app/nghttpd, area/app

#2071 Reconsider ssize t usage in src
  src/allocator.h
  src/h2load.cc
  src/h2load.h
  src/h2load_http2_session.cc
  src/h2load_http3_session.cc
  src/nghttp.h
  src/shrpx_connection.cc
  src/shrpx_connection.h
Labels: app/nghttpx, app/nghttp, app/h2load, area/app

#2072 Use GitHub private vulnerability reporting
  doc/sources/security.rst
Labels: area/documentation

#2073 Move security policy to GitHub standard location
  README.rst
  SECURITY.md
  doc/Makefile.am
  doc/security.rst
  doc/sources/index.rst
Labels: area/documentation

#2075 Bump llhttp to 48588093ca4219b5f689acfc9ebea9e4c8c37663
  third-party/llhttp/README.md
  third-party/llhttp/include/llhttp.h
  third-party/llhttp/src/api.c
  third-party/llhttp/src/http.c
  third-party/llhttp/src/llhttp.c
Labels: app/nghttpx, third-party/llhttp, area/app

#2076 h2load: Add --sni option
  src/h2load.cc
  src/h2load.h
Labels: app/h2load, area/app

#2077 Bump ngtcp2 dependencies
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
Labels: area/quic, dep/ngtcp2

#2078 mruby: Adopt deprecation of mrbc_ prefix
  src/shrpx_mruby.cc
Labels: app/nghttpx, third-party/mruby, area/app

#2079 neverbleed: Define _GNU_SOURCE for pthread_setaffinity_np
  third-party/Makefile.am
Labels: app/nghttpx, area/app, third-party/neverbleed

#2080 bpf: Pre-expand aes key
  bpf/reuseport_kern.c
  src/shrpx_worker.cc
Labels: app/nghttpx, area/app

#2082 nghttpx: Reuse EVP_CIPHER_CTX for QUIC connection ID encryption
  src/shrpx_config.cc
  src/shrpx_config.h
  src/shrpx_connection_handler.cc
  src/shrpx_http3_upstream.cc
  src/shrpx_quic.cc
  src/shrpx_quic.h
  src/shrpx_quic_connection_handler.cc
  src/shrpx_worker_process.cc
Labels: app/nghttpx, area/quic, area/app

#2083 Run apt-get update before install
  .github/workflows/build.yml
Labels: area/github

#2084 src: Deal with the case that send_quantum < max_udp_payload_size
  src/h2load_quic.cc
  src/shrpx_http3_upstream.cc
Labels: app/nghttpx, app/h2load, area/quic, area/app

#2085 nghttpx: Remove SHRPX_QUIC_MAX_UDP_PAYLOAD_SIZE
  src/shrpx_http3_upstream.cc
  src/shrpx_quic.h
Labels: app/nghttpx, area/quic, area/app
