Repository nghttp2/nghttp2, pull requests merged in 2024-10, with the labels that each got.

#2249 fix race condition on h1 connection close
  src/h2load.cc
Labels: app/h2load, area/app

#2255 GHA: Run tests for i686-w64-mingw32 host
  .github/workflows/build.yml
Labels: area/github

#2256 cmake: Fix c-ares v1.34.0 version detection failure
  cmake/FindLibcares.cmake
Labels: build/cmake, area/build

#2258 fix: `-Wextra-semi` errors in `nghttp2_helper.h`
  lib/nghttp2_helper.h
Labels: area/lib

#2261 Bump ngtcp2 and its dependencies
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
Labels: area/quic, dep/ngtcp2

#2262 Do not allow '@' in :authority or host field values
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_http.c
Labels: area/lib

#2263 h2load: GRO buffer size should be 64KiB
  src/h2load_quic.cc
Labels: app/h2load, area/app

#2264 Bump libbpf to v1.4.6
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
Labels: area/github, dep/libbpf

#2265 Update nghttp2_check_authority doc
  lib/includes/nghttp2/nghttp2.h
Labels: area/documentation

#2268 account for bytes on closing connections
  src/h2load.cc
Labels: app/h2load, area/app
