Repository nghttp2/nghttp2, pull requests merged in 2025-01, with the labels that each got.

#2287 Remove RFC 7540 priorities
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_http.c
  lib/nghttp2_session.c
  lib/nghttp2_session.h
  lib/nghttp2_stream.c
  lib/nghttp2_stream.h
  lib/nghttp2_submit.c
  tests/nghttp2_session_test.c
  tests/nghttp2_session_test.h
  tests/nghttp2_test_helper.c
  tests/nghttp2_test_helper.h
Labels: area/lib

#2288 Deprecate nghttp2_option_set_server_fallback_rfc7540_priorities
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_session.c
  lib/nghttp2_session.h
Labels: area/lib

#2289 Deprecate nghttp2_option_set_no_closed_streams
  lib/includes/nghttp2/nghttp2.h
  lib/nghttp2_session.c
  lib/nghttp2_session.h
Labels: area/lib

#2290 nghttp: Remove RFC 7540 priorities
  src/http2.cc
  src/http2.h
  src/nghttp.cc
  src/nghttp.h
Labels: app/nghttp, area/app

#2291 nghttpd: Remove RFC 7540 priorities
  src/HttpServer.cc
  src/HttpServer.h
  src/nghttpd.cc
Labels: app/nghttpd, area/app

#2292 nghttp: Show deprecation warning for --no-rfc7540-pri option
  src/nghttp.cc
Labels: app/nghttp, area/app

#2293 Update Stream priorities section
  doc/programmers-guide.rst
Labels: area/documentation

#2294 Remove nghttp2 dependency based priority section
  doc/h2load.1
  doc/nghttp.1
  doc/nghttp.1.rst
  doc/nghttp.h2r
  doc/nghttpd.1
  doc/nghttpd.1.rst
  doc/nghttpx.1
Labels: area/documentation

#2296 HtmlParser: Use xmlFree
  src/HtmlParser.cc
Labels: app/nghttp, area/app

#2297 fix: Add defensive bounds checking in hd_ringbuf_init()
  lib/nghttp2_hd.c
Labels: area/lib

#2298 Workaround actions/stale cache issue
  .github/workflows/stale.yaml
Labels: area/github

#2299 src: nullptr
  src/base64_test.cc
  src/buffer_test.cc
  src/http2_test.cc
  src/memchunk_test.cc
  src/shrpx-unittest.cc
  src/shrpx_config_test.cc
  src/shrpx_downstream_test.cc
  src/shrpx_http_test.cc
  src/shrpx_router_test.cc
  src/shrpx_tls_test.cc
  src/shrpx_worker_test.cc
  src/template_test.cc
  src/util_test.cc
Labels: area/app

#2300 GHA: Exempt pull request from actions/stale
  .github/workflows/stale.yaml
Labels: area/github

#2302 The minimum length of a valid QUIC packet is 21
  src/shrpx_quic_connection_handler.cc
  src/shrpx_quic_listener.cc
Labels: app/nghttpx, area/quic, area/app
