Repository nghttp2/nghttp2, pull requests merged in 2025-04, with the labels that each got.

#2321 Remove go toolchain
  go.mod
Labels: area/integration-test

#2323 nghttpx: Close h1 connection on CONNECT failure
  integration-tests/nghttpx_http1_test.go
  src/shrpx_https_upstream.cc
Labels: app/nghttpx, area/app

#2318 doc:rubydomain: Fix build failure with rubydomain namespace
  doc/_exts/rubydomain/__init__.py
Labels: area/documentation

#2322 Update integration tests
  .github/workflows/build.yml
  integration-tests/nghttpx_http2_test.go
  integration-tests/server_tester.go
  integration-tests/server_tester_http3.go
Labels: area/integration-test

#2324 quic: Use secure random generator for ngtcp2_rand
  src/h2load_quic.cc
  src/shrpx_http3_upstream.cc
Labels: app/nghttpx, app/h2load, area/quic, area/app

#2325 Revert "quic: Use secure random generator for ngtcp2_rand"
  src/h2load_quic.cc
  src/shrpx_http3_upstream.cc
Labels: app/nghttpx, app/h2load, area/app

#2326 quic: Use secure random generator for ngtcp2_rand
  src/h2load_quic.cc
  src/shrpx_http3_upstream.cc
Labels: app/nghttpx, app/h2load, area/quic, area/app

#2327 GHA: Replace macos-13 with macos-15
  .github/workflows/build.yml
Labels: area/github

#2331 Bump ngtcp2
  .github/workflows/build.yml
  README.rst
  docker/Dockerfile
Labels: area/quic, dep/ngtcp2

#2332 GHA: Add android workflow
  .github/workflows/android.yml
Labels: area/github

#2333 h2load, nghttpx: Add libngtcp2_crypto_ossl support
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile.am
  README.rst
  cmake/FindLibngtcp2_crypto_ossl.cmake
  configure.ac
  src/CMakeLists.txt
  src/Makefile.am
  src/h2load.cc
  src/h2load.h
  src/h2load_quic.cc
  src/shrpx.cc
  src/shrpx_connection.cc
  src/shrpx_http3_upstream.cc
  src/shrpx_http3_upstream.h
  src/shrpx_quic_connection_handler.cc
  src/ssl_compat.h
Labels: app/nghttpx, app/h2load, area/quic, area/app

#2336 nghttpx: Refactor QUIC packet write
  src/shrpx_http3_upstream.cc
  src/shrpx_http3_upstream.h
Labels: app/nghttpx, area/app

#2337 h2load: Refactor QUIC packet write path
  src/h2load.cc
  src/h2load.h
  src/h2load_quic.cc
Labels: app/h2load, area/quic, area/app
